@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
  margin:0;
  padding:0;
  font-family: Roboto, sans-serif;
  background:url("images/landscape.jpeg") no-repeat center top fixed;
  background-size: cover;
}
.background {
	height: 650px;
	background:url("images/landscape.jpeg") no-repeat center top fixed;
  background-size: cover;
  margin-top: 30px;
  border-bottom: 1px solid black;
}
.background:first-child {
	margin-top: 0;
}
.hidden {
  opacity:0;
}
.skills {
  text-align:center;
  border-radius: 5px;
  margin:20px 0;
}
.links {
  text-align:center;
  border-radius: 5px;
  position: relative;
  width: 100%;
  top:260px;
}
.links a{
  text-decoration: none;
}
.links a:hover{
  border-bottom:1px solid white;
}
.console-container {
  font-weight: bold;
  font-size:4em;
  text-align:center;
  height:100px;
  width:900px;
  display:block;
  color:white;
  margin:auto;
  position: relative;
  top:100px;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.skills-container {
  background:url("images/doctorlaptop.jpeg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 99999;
}
.contact-container {
  background:url("images/research.jpeg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 99999;
}
/*.thank-you {
  background-image: none;
  background-color: rgb(61, 61, 61);
}*/
h1 {
   font-size: 250%
}
p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}
.slide {
  position: relative;
  padding: 25vh 0%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;
  display: flex;
  justify-content: center;
}
#slide1 {
  border-bottom: 1px solid black;
}
#slide3 {
  border-bottom: 1px solid black;
}
.img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 240px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
.img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}
.title {
  width: 80%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  padding:0px 5%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
.title li {
  font-size: 24px;
}
.title p{
font-weight: bold;
}
.title li a{
  color:black;
}
.title li a:hover {
  color:blue;
}
.header {
  text-align: center;
  color: white;
  text-shadow: 0 2px 2px #000;
}
.res-link {
  position:relative;
  color:black;
}
.res-link:hover {
  color:blue;
}
.projects {
  text-align: center;
  position: absolute;
  right:30px;
  top:70px;
  width:480px;
  height:auto;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
.back {
  position: absolute;
  bottom: 350px;
  right:45%;
}
.back a{
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  padding:7px;
  text-decoration: none;
  color:white;
}
.back a:hover{
  color:#12D87B;
}
.contact-pic {
  width:300px;
  border-radius: 5px;
  margin:10px;
  box-shadow: 3px 3px 3px 3px gray;
}
#menu {
  background-color: rgba(59, 149, 255, 0.63);
  padding:1rem;
  text-align: left;
  font-size: 18px;
  border-bottom:1px solid white;
  position: fixed;
  top: 0;
  width:100%;
  z-index: 99999999;
  display: flex;
  align-items: center;
}

#menu div a {
  padding:0px 10px;
  margin: 0 10px;
  color:white;
}
#menu div a:hover {
  color:#12D87B;
}

.contact {
  display:flex;
  justify-content:space-between;
}